<nav class="c-primary-nav">

	<ul class="c-primary-nav__list c-primary-nav__list--flush js-nav-panel" role="tablist" aria-multiselectable="true">

		<li class="c-primary-nav__item">
			<a href="{{ "/getting-started" | prepend: site.baseurl}}" class="c-primary-nav__link {% if page.url == '/getting-started' %}is-active is-current{% endif %}">
				<span class="c-primary-nav__text">Getting started</span>
			</a>
		</li><!-- end c-nav__list__item -->

		<li class="c-primary-nav__item {% if page.url contains '/guidelines' %}is-active{% endif %}">
			<a class="c-primary-nav__link c-primary-nav__link--has-children js-nav-dropdown-trigger {% if page.url contains '/guidelines' %} is-active is-current{% endif %}" href="{{ "/guidelines/" | prepend: site.baseurl }}">

				<span class="c-primary-nav__text">Guidelines</span>

				<svg class="c-icon c-primary-nav__icon" aria-hidden="true">
					<use href="{{ "/assets/icons.svg#chevron-right" | prepend: site.baseurl }}"></use>
				</svg>

			</a>

			<ul class="c-primary-nav__sublist js-nav-dropdownn {% if page.url contains '/guidelines' %} is-active{% endif %}">
			{% for my_page in site.pages %}

				{% if my_page.group == "guidelines" %}
				<li class="c-primary-nav__item">
					<a class="c-primary-nav__link {% if my_page.url == page.url %}is-active is-current{% endif %}" href="{{ my_page.url | prepend: site.baseurl }}">
                    {% if my_page.title == "Guidelines" %}

                    <span class="c-primary-nav__text">Overview</span>

                    {% else %}

                    {{ my_page.title }}

                    {% endif %}
					</a>
				</li>
				{% endif %}

			{% endfor %}
			</ul>
		</li>


		<li class="c-primary-nav__item {% if page.url contains '/styles' %}is-active{% endif %}">

			<a href="{{ "/styles/index.html" | prepend: site.baseurl }}" class="c-primary-nav__link c-primary-nav__link--has-children js-nav-dropdown-trigger {% if page.url contains '/styles' %} is-active  is-current{% endif %}">

				<span class="c-primary-nav__span">Styles</span>

				<svg class="c-icon c-primary-nav__icon" aria-hidden="true">
					<use href="{{ "/assets/icons.svg#chevron-right" | prepend: site.baseurl }}"></use>
				</svg>

			</a>

			<ul class="c-primary-nav__sublist js-nav-dropdown {% if page.url contains '/styles' %} is-active{% endif %}">
			{% for my_page in site.pages %}
				{% if my_page.title %}
					{% if my_page.group == "styles" %}
					<li class="c-primary-nav__item">
						<a class="c-primary-nav__link {% if my_page.url == page.url %}is-active is-current{% endif %}" href="{{ my_page.url | prepend: site.baseurl }}">
                        {% if my_page.layout == "landing" %}

                        <span class="c-primary-nav__text">Overview</span>

                        {% else %}

                        {{ my_page.title }}

                        {% endif %}
						</a>
					</li>
					{% endif %}
				{% endif %}
			{% endfor %}
			</ul>

		</li><!-- end c-nav__list__item -->


		<li class="c-primary-nav__item {% if page.url contains '/components' %}is-active{% endif %}">
			<a class="c-primary-nav__link c-primary-nav__link--has-children js-nav-dropdown-trigger {% if page.url contains '/components' %} is-active  is-current{% endif %}" href="{{ "/components/" | prepend: site.baseurl }}">

				<span class="c-primary-nav__text">Components</span>

				<svg class="c-icon c-primary-nav__icon" aria-hidden="true">
					<use href="{{ "/assets/icons.svg#chevron-right" | prepend: site.baseurl }}"></use>
				</svg>

			</a><!--end c-primary-nav__link-->

			<ul class="c-primary-nav__sublist js-nav-dropdown {% assign post_index = '0' %}{% for my_page in site.pages %}{% if my_page.group == 'components' %}{% capture post_index %}{{ post_index | plus: '1' }}{% endcapture %}{% endif %}{% endfor %}{% if page.url contains '/components' %} is-active{% endif %}">

        {% include primary-nav-item.html label='Buttons' subgroup='buttons' %}

				{% include primary-nav-item.html label='Callouts' subgroup='callouts' %}

				{% include primary-nav-item.html label='Linkages' subgroup='linkages' %}

        {% include primary-nav-item.html label='Lists and collections' subgroup='lists-and-collections' %}

        {% include primary-nav-item.html label='Media' subgroup='media' %}

        {% include primary-nav-item.html label='Tables' subgroup='tables' %}

        {% include primary-nav-item.html label='Text' subgroup='text' %}

			</ul>
		</li>


		<li class="c-primary-nav__item {% if page.url contains '/devcomponents' %}is-active{% endif %}">
			<a class="c-primary-nav__link c-primary-nav__link--has-children js-nav-dropdown-trigger {% if page.url contains '/devcomponents' %} is-active  is-current{% endif %}" href="{{ "/devcomponents/" | prepend: site.baseurl }}">

				<span class="c-primary-nav__text">Dev Components</span>

				<svg class="c-icon c-primary-nav__icon" aria-hidden="true">
					<use href="{{ "/assets/icons.svg#chevron-right" | prepend: site.baseurl }}"></use>
				</svg>

			</a><!--end c-primary-nav__link-->

			<ul class="c-primary-nav__sublist js-nav-dropdown {% assign post_index = '0' %}{% for my_page in site.pages %}{% if my_page.group == 'devcomponents' %}{% capture post_index %}{{ post_index | plus: '1' }}{% endcapture %}{% endif %}{% endfor %}{% if page.url contains '/devcomponents' %} is-active{% endif %}">

				{% include primary-nav-item.html label='Blocks and cards' subgroup='blocks-and-cards' %}

				{% include primary-nav-item.html label='Header' subgroup='header' %}

        {% include primary-nav-item.html label='Navigation' subgroup='navigation' %}

				{% include primary-nav-item.html label='Footer' subgroup='footer' %}

        {% include primary-nav-item.html label='Icons' subgroup='icons' %}

				{% include primary-nav-item.html label='Grid systems' subgroup='grid-systems' %}

        {% include primary-nav-item.html label='Interactive panels' subgroup='interactive' %}




			</ul>
		</li>


			<li class="c-primary-nav__item {% if page.url contains '/wptheme' %}is-active{% endif %}">

				<a href="{{ "/wptheme/" | prepend: site.baseurl }}" class="c-primary-nav__link c-primary-nav__link--has-children js-nav-dropdown-trigger {% if page.url contains '/wptheme' %} is-active  is-current{% endif %}">

					<span class="c-primary-nav__span">WordPress Theme</span>

					<svg class="c-icon c-primary-nav__icon" aria-hidden="true">
						<use href="{{ "/assets/icons.svg#chevron-right" | prepend: site.baseurl }}"></use>
					</svg>

				</a>

				<ul class="c-primary-nav__sublist js-nav-dropdown {% assign post_index = '0' %}{% for my_page in site.pages %}{% if my_page.group == 'wptheme' %}{% capture post_index %}{{ post_index | plus: '1' }}{% endcapture %}{% endif %}{% endfor %}{% if page.url contains '/wptheme' %} is-active{% endif %}">

					{% include primary-nav-item.html label='Page Templates' subgroup='templates' %}

				{% for my_page in site.pages %}
					{% if my_page.title %}
						{% if my_page.group == "wptheme" %}
						<li class="c-primary-nav__item">
							<a class="c-primary-nav__link {% if my_page.url == page.url %}is-active is-current{% endif %}" href="{{ my_page.url | prepend: site.baseurl }}">
								{{ my_page.title }}
							</a>
						</li>
						{% endif %}
					{% endif %}
				{% endfor %}


				</ul>

			</li><!-- end c-nav__list__item -->



		<li class="c-primary-nav__item">

			{% for my_page in site.pages %}
				{% if my_page.url == "/downloads" %}
				<a href="{{ "/downloads" | prepend: site.baseurl }}" class="c-primary-nav__link {% if page.url == '/downloads' %}is-active is-current{% endif %}">
					<span class="c-primary-nav__text">Downloads</span>
				</a>
				{% endif %}
			{% endfor %}

		</li><!-- end c-nav__list__item -->

		<li class="c-primary-nav__item">

			{% for my_page in site.pages %}
				{% if my_page.url == "/support" %}
				<a href="{{ "/support" | prepend: site.baseurl }}" class="c-primary-nav__link {% if page.url == '/support' %}is-active is-current{% endif %}">
					<span class="c-primary-nav__text">Support</span>
				</a>
				{% endif %}
			{% endfor %}

		</li><!-- end c-nav__list__item -->

		<li class="c-primary-nav__item">

			{% for my_page in site.pages %}
				{% if my_page.url == "/contribute" %}
				<a href="{{ "/contribute" | prepend: site.baseurl }}" class="c-primary-nav__link {% if page.url == '/contribute' %}is-active is-current{% endif %}">
					<span class="c-primary-nav__text">Contribute</span>
				</a>
				{% endif %}
			{% endfor %}

		</li><!-- end c-nav__list__item -->

	</ul><!-- end c-nav__list -->

</nav><!-- end c-nav -->
