/*------------------------------------*\
    #COLORS
\*------------------------------------*/
:root {

  /* Basic Colours */
  --color-navy: #21759b;
  --color-navy-dark: #195794;
  --color-red: #dd3333;
  --color-red-dark: #AE1A1A;
  --color-green-dark: #075A12;


  /* Neutral Colours */
  --color-white: #fff;
  --color-gray-02: #f9f9f9;
  --color-gray-04: #f5f5f5;
  --color-gray-07: #eee;
  --color-gray-10: #e5e5e5;
  --color-gray-13: #ddd;
  --color-gray-27: #bbb;
  --color-gray-50: #808080;
  --color-gray-60: #666;
  --color-gray-67: #595959;
  --color-gray-73: #444;
  --color-gray-80: #333;
  --color-gray-86: #282828;
  --color-gray-93: #131313;
  --color-black: #000;


  /* Brand Colours */
  --cog-primary: #00a5e1;
  --cog-secondary: #58a618;
  --cog-comp1: #003150;
  --cog-comp2: #6D5047;
  --cog-comp3: #1A2155;
  --cog-comp4: #BA6F2E;
  --cog-comp5: #752864;


}
