---
layout: default
---

{% include breadcrumbs.html %}

{% include page-header.html %}

<ul>

  {% for componentPage in site.pages %}
  {% if componentPage.group == page.viewtype %}
  <li>

    <section class="c-section u-margin-bottom-none">

      <div class="c-section__body">

        <div class="c-pattern-example">

          <ul class="c-lined-list">

            {% for variation in componentPage.variations %}

            <li class="c-lined-list__item">

              <section class="c-section u-margin-bottom-none">
                <header class="c-section__header c-section__header--bare">
                  <h3 class="c-section__title">{{ variation.title }} <code class="u-font-size-med">{{ variation.styleModifier }}</code>{% if componentPage.status %} {% include badge.html %}{% endif %}</h3>

                  <p class="u-margin-bottom">{{ variation.description }} </p>

                  <a href="{{ componentPage.permalink  | prepend: site.baseurl }}" class=" c-btn c-btn--small c-btn--primary" style="margin-bottom:0.5em;">See code and usage</a>

                </header>

                <div class="c-section__body">

                  <div class="c-pattern-example u-margin-bottom-double">

                    {% if variation.includeCat and variation.includeSubCat %}
                      {% capture iframePath %}/_includes/patterns/{{ variation.includeCat }}/{{ variation.includeCat }}-{{variation.includeSubCat}}/{{ variation.includeCat }}-{{variation.includeSubCat}}.rendered.html{% endcapture %}
                    {% elsif variation.includeCat %}
                      {% capture iframePath %}/_includes/patterns/{{ variation.includeCat }}/{{ variation.includeCat }}/{{ variation.includeCat }}.rendered.html{% endcapture %}
                    {% else %}
                      {% capture iframePath %}NA{% endcapture %}
                    {% endif %}

                    <div class="iffframe">

                      <iframe class="iffframe__iframe" frameBorder="0" width="100%" height="100%" src="{{ iframePath  | prepend: site.baseurl }}"></iframe>

                      <div class="iffframe__handle"></div>

                    </div>
                    <!--end iffframe-->


                  </div><!-- end c-pattern-example -->



                </div><!-- end l-section__body -->

              </section>

            </li>
            <!--end c-lined-list__item -->

            {% endfor %}

          </ul>
          <!--end c-lined-list-->


        </div><!-- end c-pattern-example -->

      </div><!-- end c-section__body -->

    </section><!-- end c-section__body -->

  </li>
  <!--end c-lined-list__item -->
  {% endif %}
  {% endfor %}

</ul>
<!--end c-lined-list-->
